:root {
  --card-background: #FFFFFF;
  --card-border: #E5E5E5;
  --color-selected: #9289FF;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  border: 1px solid var(--card-border);
  border-radius: 10px;
  background-color: var(--card-background);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.jumperListSection {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100vh;
}

.jumperListSection h1, .jumperListSection p {
  text-align: center;
}

.jumperListSection .jumperListInputContainer {
  text-align: center;
}

.jumperListSection .listOfJumpers {
  height: 85%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jumperListSection .jumper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  width: 20vw;
  min-height: 5vh;
  max-height: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
  overflow: visible;
}

.jumper.hide {
  display: none;
}

.hide {
  display: none;
}

.loadContainer {
  width: 75vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
  grid-auto-rows: 50%;
  overflow-y: scroll;
}

.loadContainer .load {
  height: calc(95vh / 2);
  width: calc((75vw / 4.5));
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.loadContainer .load .loadId {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55px;
  width: 55px;
  color: var(--card-border);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  background-color: var(--color-selected);
  margin-top: 8px;
  margin-left: 8px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.loadContainer .load .jumperList {
  margin: 10px;
  height: 70%;
}

.loadContainer .load button {
  margin-left: 10px;
}

.loadContainer .load ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  height: 75%;
}

.loadContainer .load .jumper {
  width: 95%;
  height: 30px;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cancel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 8px;
  font-weight: bold;
  color: var(--card-border);
  min-height: 50%;
  min-width: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scrollTo {
  display: block;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.margin {
  margin-right: 5px;
}

.cancel:hover {
  cursor: pointer;
}

.filterContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5vh;
  width: 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.faImage:hover {
  cursor: pointer;
  font-size: 2rem;
}

.faImage {
  font-size: 1.5rem;
  color: var(--card-border);
}

.faImage.selected {
  color: var(--color-selected);
}

.details {
  width: 20vw;
  height: 0px;
  line-height: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  border: 0;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.details.expanded {
  height: 50px;
  margin-bottom: 8px;
}

.dropdown-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--card-border);
  border-radius: 10px;
  background-color: var(--card-background);
  min-height: 5vh;
  min-width: 25%;
}

.dropdown-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=styles.css.map */