:root {
  --card-background: #FFFFFF;
  --card-border: #E5E5E5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.card {
  border: 1px solid var(--card-border);
  border-radius: 10px;
  background-color: var(--card-background);
  //box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .jumperListSection {
    justify-content: center;
    flex-grow: 1;
    height: 100vh;

    h1, p {
      text-align: center;
    }

    .jumperListInputContainer {
      text-align: center;
    }

    .jumperListContainer {
      height: 90vh;
      padding: 10px;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      align-items: center;
    }

    .jumper {
      display: flex;
      padding: 5px;
      width: 20vw;
      min-height: 7vh;
      align-items: center;
      margin-bottom: 8px;
    }

    .jumper:hover {
      cursor: grab;
    }
  }

  .loadContainer {
    width: 75vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .load {
      height: calc(95vh / 2);
      width: calc((75vw / 4.5));
      align-self: center;
      justify-self: center;

      .loadId {
        display: flex;
        height: 55px;
        width: 55px;
        color: var(--card-border);
        backdrop-filter: blur(4px);
        font-weight: bold;
        text-align: center;
        font-size: 2rem;
        background-color: rgba($color: #9289FF, $alpha: 1.0);
        margin-top: 8px;
        margin-left: 8px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }

      .jumperList {
        margin: 10px;
        height: 75%;
      }

      ul {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        height: 75%;
      }

      .jumper {
        width: 95%;
        height: 30px;
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .cancel {
        display: flex;
        position: absolute;
        right: 8px;
        font-weight: bold;
        color: var(--card-border);
      }
    }
  }

  .App {
    display: flex;
    width: 100vw;
    height: 100vh;
    border: 1px solid greenyellow;
  }

  .margin {
    margin-right: 5px;
  }
  .cancel:hover {
    cursor: pointer;
  }

  .hide {
    display: none;
  }