:root {
	// define some variables
	--card-background: #ffffff;
	--card-border: #e5e5e5;
	--color-selected: #9289ff;
}

* {
	// setup defaults for the entire page
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.card {
	border: 1px solid var(--card-border);
	border-radius: 10px;
	background-color: var(--card-background);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.jumperListSection {
	height: 100vh;
	//TODO: media query for this
	width: 25vw; // jumper list takes up a quarter of the space

	display: flex;

	justify-content: center;
	flex-direction: column;

	h1,
	p {
		// jumper list header
		text-align: center;
	}

	.jumperListInputContainer {
		position: relative;

		overflow: visible;

		.margin {
			margin-right: 5px; // input form spacing
		}

		input {
			//TODO: media query
			width: 70%;
			//padding-top: 8%; // push this down enough so that when the label pops up it is still visable

			height: 100%;
			border: none;
			outline: none;

			position: relative;
			font-size: 1.1rem;
		}

		input:focus + .label-name .label-content,
		input:valid + .label-name .label-content {
			// moving the label up on focus
			transform: translateY(-150%);
			transition: transform 0.3s ease;
		}

		input:focus + .label-name::after,
		input:valid + .label-name::after {
			// moving the label back down
			transform: translateX(0%);
			transition: transform 0.3s ease;
		}

		label {
			width: 70%; // TODO: this is the same as the input
			height: 100%;

			position: absolute; //TODO: is it possible to do this without positioning absolutely? That or a way to make this responsive?

			bottom: 0px;
			left: 0px;
			pointer-events: none; // don't absorb the click since this is over the input

			border-bottom: 1px solid var(--card-border);
			overflow: visible;
			transition: transform 0.3s ease;
		}

		label::after {
			// underline for the input
			width: 100%;
			height: 100%;

			position: absolute;

			border-bottom: 3px solid var(--color-selected);
			z-index: 99;
			transform: translateX(-100%);

			content: ''; // needed for ::after
		}

		.label-content {
			position: absolute;
			bottom: 0px;
			transition: transform 0.3s ease;
		}
	}

	.listOfJumpers {
		height: 82%; // TODO: this is horrible
		padding: 10px;

		display: flex;
		flex-direction: column;
		overflow-y: scroll;
		align-items: center;
	}

	.jumper {
		// each jumper item
		width: 20vw;
		min-height: 5vh;
		max-height: 200px;

		//TODO: these should be better
		margin-bottom: 8px;
		padding: 5px;

		display: flex;
		flex-direction: column;
		justify-content: center;

		align-items: center;
	}
}

.jumper.hide {
	// TODO: can this be put elsewhere given this is SASS
	display: none;
}

.hide {
	display: none; // TODO: fix this dumb thing
}

.loadContainer {
	width: 75vw; //TODO: better sectioning
	height: 100vh;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-flow: row;
	grid-auto-rows: 50%;

	overflow-y: scroll;

	.load {
		// TODO: should this be in loadContainer or on it's own?
		height: calc(95vh / 2);
		width: calc((75vw / 4.5)); //TODO: some sort of media query for this
		align-self: center;
		justify-self: center;

		.loadId {
			height: 55px; // TODO: make this dynamic
			width: 55px; // TODO: make this dynamic

			display: flex;
			margin-top: 8px;
			margin-left: 8px;
			border-radius: 50%;

			align-items: center;
			justify-content: center;

			font-weight: bold;
			text-align: center;
			font-size: 2rem;

			background-color: var(--color-selected);
			color: var(--card-border);
			backdrop-filter: blur(4px);
			filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		}

		.jumperList {
			margin: 5%;
		}

		.loadHeader {
			display: flex;
			padding-bottom: 5%;

			align-items: center;
			justify-content: space-between;
		}

		.deleteLoad {
			padding-right: 5%;

			font-weight: bold;
			font-size: 1.5rem;

			color: var(--card-border);
		}
		.deleteLoad:hover {
			cursor: pointer;
		}

		ul {
			height: 75%;
			width: 100%;

			display: flex;
			flex-direction: column;

			margin-top: 10px;
			align-items: center;
		}

		.jumper {
			width: 95%;
			height: 30px;

			display: flex;
			margin-bottom: 8px;

			justify-content: center;
			align-items: center;
		}
	}
}

.cancel {
	min-width: 10%;
	min-height: 50%; // make the hitbox larger

	display: flex;

	position: absolute;
	right: 0.5rem;

	font-weight: bold;
	color: var(--card-border);

	justify-content: center;
	align-items: center;
}
.scrollTo {
	// div to force a scroll when adding a new load
	display: block;
}

.App {
	display: flex;
	width: 100vw;
	height: 100vh;
}

.cancel:hover {
	cursor: pointer;
}

.filterContainer {
	display: flex;

	flex-direction: row;
	justify-content: space-between;
}
.filter {
	height: 5vh; //TODO: probably want to handle this better
	width: 30%;

	display: flex;

	align-items: center;
	justify-content: center;
}

.faImage:hover {
	cursor: pointer;
	font-size: 2rem;
}

.faImage {
	font-size: 1.5rem;
	color: var(--card-border);
}

.faImage.selected {
	color: var(--color-selected);
}

.details {
	// jumper detail dropdown
	width: 20vw; //TODO: section this off better
	height: 0px; // keeps it hidden by default -- this is what transitions

	align-items: center;

	overflow: hidden;

	border: 0;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	transition: all 0.5s ease-in-out;
}

.details.expanded {
	height: 50px; //TODO: don't set hard coded heights or margins
	margin-bottom: 8px; // fix this as a variable
}

.dropdown-button {
	min-height: 5vh;
	min-width: 25%;

	display: flex;

	flex-direction: row;
	align-items: center;
	justify-content: center;

	border: 1px solid var(--card-border);
	border-radius: 10px;
	background-color: var(--card-background);
}

.dropdown-menu {
	display: flex;

	flex-direction: row;
	justify-content: space-around;
}
.dragging {
	// animation for shaking
	animation: shake 0.5s ease-in-out 0s infinite none;
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

.zeroState {
	height: 97%;

	display: flex;

	margin: 1%;

	align-items: center;
	justify-content: center;

	color: #cecece;
	font-weight: bold;
	font-size: 1.2rem;
	border-radius: 10px;
	border: 5px dashed var(--card-border);
}

#jumper-zero-state {
	width: 20vw; // TODO: this likely should be done better
	text-align: center;
}
